<nav>
  
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/profile.png" style="width:128px;"id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <h1>Try me.</h1>
    <p style="text-align: center;">I'm a fast learner.</p>
    
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
